@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  max-width: 1700px;
  position: relative;
  margin: auto;
}

/* Mobile View */

.mobileHeader {
  display: flex;
  background-color: #0e3783;

  max-width: 100%;
  margin: 0;
  padding: 0;

  height: 70px;
  line-height: 0;
  align-items: center;
  position: relative;
  color: white;
}

.mobileHeader .mobileLogo {
  border: 1px solid rgb(39, 185, 230);
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  letter-spacing: 0.23rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mobileHeader .mobileLogo:hover {
  scale: 1.05;
}

.mobileHeader h3 {
  position: absolute;
  right: 3rem;
  top: 25%;
  color: rgb(204, 194, 194);
}

.mobileNavigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 2px 0px 4px 3px #d3d3d3;
  padding-top: 1rem;
  height: 70px;

  color: rgb(44, 27, 27);
  background-color: white;
  z-index: 1000;
}

.mobileNavigation div {
  min-width: 74px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  line-height: 0;
  padding-bottom: 1rem;
  font-weight: 700;
}

.mobileNavigation div:hover {
  scale: 1.05;
}

.mobileNavigation .active {
  color: #0e3783;
}

.mobileNavigation .active p {
  padding-bottom: 0.6rem;
  border-bottom: 2px solid #0e3783;
}

.mobileMore {
  position: relative;
}

.more {
  position: absolute;
  top: -18rem;
  right: 0;
  width: 8rem;
  box-shadow: 2px 0px 4px 2px #d3d3d3;
  padding-top: 1rem;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
}

.desktopLogout {
  display: none;
}

.more div {
  float: left;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: white;
  z-index: 1000;
}

.more div:hover {
  scale: 1.1;
}

.more div p {
  margin-left: 1rem;
}

.navigation {
  display: none;
}

.hidden {
  display: none;
}
.desktopNavProfile {
  display: none;
}

/* Dashbord content */

.quickAccessContainer {
  width: 90%;
  margin: auto;
}

.quickAccessContainer h3 {
  text-align: center;
}

.quickAccess {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}

.quickAccess .cardBox {
  display: flex;
  align-items: center;
  border: 1px solid #0e3783;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 1rem;
  height: 4rem;
  cursor: pointer;
}

.quickAccess .cardBoxText {
  display: flex;
  position: relative;
}
.quickAccess .cardBoxText span {
  position: absolute;
  left: 4.5rem;
  top: 0.5rem;
  color: white;
  font-weight: 700;
  background-color: #0e3783;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5;
  border-radius: 50%;
}

.quickAccess div p {
  margin-right: 1rem;
  font-weight: 700;
}

/* Map */

.map {
  margin: auto;
  width: 90%;
}

.leaflet-container {
  height: 30vh;
  z-index: 1;
}

.locationContainer {
  border-radius: 5px;
  background-color: #144db8;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.locationDescription p {
  padding-top: 1rem;
  margin-left: 0.5rem;
}

.mapFooter .checkSite {
  text-align: center;
  transition: all 0.3s ease-in;
}

.checkSite:hover {
  cursor: pointer;
  background-color: #2464da;
  border-bottom-left-radius: 5px;
}

.mapFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mapFooter .siteReportMap {
  background-color: hsl(38, 79%, 38%);
  transition: all 0.3s ease-in;
  cursor: pointer;
  text-align: center;
  border-bottom-right-radius: 5px;
}

.siteReportMap:hover {
  background-color: hsl(38, 81%, 51%);
}

@media screen and (min-width: 700px) {
  .mobileNavigation {
    display: none;
  }

  header {
    width: 90vw;
  }

  footer {
    width: fit-content;
    margin-left: 1rem;
  }

  .mobileHeader {
    width: 98vw;
    max-width: 1500px;
    margin: auto;
    border-radius: 10px;
  }

  h1 {
    font-size: 2.1rem;
  }
  .mobileHeader h3 {
    position: relative;
    margin-left: 6rem;
    margin-top: -0.8rem;
    font-size: 1.4rem;
  }

  .navigation {
    background-color: #0e3783;
    width: 11rem;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    display: block;
  }
  .navigation div {
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: all 0.4s ease-out;
    padding: 0 0.8rem;
    border-radius: 10px;
  }
  .navigation div:hover {
    scale: 1.05;
    background-color: #2464da;
  }

  .navigation div p {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .navigation .active {
    background-color: #679af8;
  }

  .desktopLogout {
    display: flex;
    font-weight: 700;

    position: absolute;
    right: 1.5rem;
    width: 5rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .desktopNavProfile {
    display: block;
    background-color: #0e3783;
    width: 11rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 1.1rem;
  }
  /* Dashboard */
  .dashboardContainer {
    width: 85%;

    max-width: 1350px;

    margin: 0.5rem auto;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 2px #0e3783;
  }

  .desktopContainer {
    display: flex;
    justify-content: center;
    max-width: 1520px;

    margin: auto;
  }

  .map {
    width: 30vw;
    float: left;
    margin-left: 4rem;
  }
}
