@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.mainContainer {
  position: relative;
  max-width: 1700px;

  margin: auto;
}

/* Mobile View */

.mobileHeader {
  display: flex;
  background-color: #0e3783;

  width: 100%;
  margin: 0;
  padding: 0;

  height: 70px;
  line-height: 0;
  align-items: center;
  position: relative;
  color: white;
}

.mobileHeader .mobileLogo {
  border: 1px solid rgb(39, 185, 230);
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  letter-spacing: 0.23rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mobileHeader .mobileLogo:hover {
  scale: 1.05;
}

.mobileHeader h3 {
  position: absolute;
  right: 3rem;
  top: 25%;
  color: rgb(204, 194, 194);
}

.mobileNavigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 2px 0px 4px 3px #d3d3d3;
  padding-top: 1rem;
  height: 70px;

  color: rgb(44, 27, 27);
  background-color: white;
  z-index: 1000;
}

.mobileNavigation div {
  min-width: 74px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  line-height: 0;
  padding-bottom: 1rem;
  font-weight: 700;
}
.mobileNavigation a {
  color: rgb(44, 27, 27);
}

.mobileNavigation div:hover {
  scale: 1.05;
}

.mobileNavigation .active {
  color: #0e3783;
}

.mobileNavigation .active p {
  padding-bottom: 0.6rem;
  border-bottom: 2px solid #0e3783;
}

.mobileMore {
  position: relative;
}

.more {
  position: absolute;
  top: -21.5rem;
  right: 0;
  width: 8rem;
  box-shadow: 2px 0px 4px 2px #d3d3d3;
  padding-top: 1rem;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
}

.desktopLogout {
  display: none;
}

.more div {
  float: left;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: white;
  z-index: 1000;
}

.more div:hover {
  scale: 1.1;
}

.more div p {
  margin-left: 1rem;
}

.navigation {
  display: none;
}

.hidden {
  display: none;
}
.desktopNavProfile {
  display: none;
}

/* Dashbord content */

.quickAccessContainer {
  width: 90%;
  margin: auto;
}

.quickAccessContainer h3 {
  text-align: center;
}

.quickAccess {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}

.quickAccess .cardBox {
  display: flex;
  align-items: center;
  border: 1px solid #0e3783;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 1rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.quickAccess .cardBox:hover {
  scale: 1.05;
}

.quickAccess .cardBoxText {
  display: flex;
  position: relative;
}
.quickAccess .cardBoxText span {
  position: absolute;
  left: 4.5rem;
  top: 0.5rem;
  color: white;
  font-weight: 700;
  background-color: #0e3783;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5;
  border-radius: 50%;
}

.quickAccess div p {
  margin-right: 1rem;
  font-weight: 700;
}

/* Map */

.map {
  margin: auto;
  width: 90%;
}

.leaflet-container {
  height: 30vh;
  z-index: 1;
}

.locationContainer {
  border-radius: 5px;
  background-color: #144db8;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.locationDescription p {
  padding-top: 1rem;
  margin-left: 0.5rem;
}

.mapFooter .checkSite {
  text-align: center;
  transition: all 0.3s ease-in;
}

.checkSite:hover {
  cursor: pointer;
  background-color: #2464da;
  border-bottom-left-radius: 5px;
}

.mapFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mapFooter .siteReportMap {
  background-color: hsl(38, 79%, 38%);
  transition: all 0.3s ease-in;
  cursor: pointer;
  text-align: center;
  border-bottom-right-radius: 5px;
}

.siteReportMap:hover {
  background-color: hsl(38, 81%, 51%);
}

.dashboardContainer {
  height: 100%;
  padding-bottom: 5rem;
}

.mapContainer {
  margin-bottom: 10rem;
}

@media screen and (min-width: 700px) {
  .mobileNavigation {
    display: none;
  }

  .quickAccessContainer {
    width: 93%;
    border: 1px solid #acacac;
  }

  .quickAccessText {
    padding: 1rem;

    height: 61px;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;

    margin-bottom: 1rem;
  }

  .quickAccess {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .quickAccess .cardBox {
    height: 11rem;
    flex-direction: column;
    width: 14rem;

    align-items: center;
    justify-content: flex-start;
    padding: 0;

    border: none;
  }

  .cardBoxText {
    background-color: #0e3783;
    width: 100%;
    display: flex;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
  }

  .cardBoxText span {
    display: none;
  }

  .quickAccessIconContainer svg {
    width: 3rem;
    height: 3rem;
    color: white;
  }
  .quickAccessIconContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: center;
    background-color: #7e6f73;
  }

  footer {
    width: fit-content;

    min-height: 100%;
    position: sticky;
    background-color: #0e3783;
    top: 0;
    border-bottom-right-radius: 60px;
  }

  .mobileHeader {
    margin: auto;
    border-bottom: 2px solid white;
  }

  h1 {
    font-size: 2.1rem;
  }
  .mobileHeader h3 {
    position: relative;
    margin-left: 6rem;
    margin-top: -0.8rem;
    font-size: 1.4rem;
  }

  .desktopContainer {
    display: flex;
    /* justify-content: center; */
    max-width: 1700px;

    align-items: flex-start;
    height: 100%;
    margin: auto;
  }

  .navigation {
    background-color: #0e3783;
    width: 11rem;
    margin: 0.5rem 0;
    padding: 1rem 1rem 1rem 0.5rem;
    min-height: 100%;

    display: block;
    position: sticky;
    border-bottom-right-radius: 60px;
    height: 100dvh;
    top: 0;
  }
  .navigation div {
    display: flex;
    text-align: center;

    align-items: center;
    cursor: pointer;
    color: white;
    transition: all 0.4s ease-out;
    padding: 0 0.8rem;
    border-radius: 10px;
  }
  .navigation div:hover {
    scale: 1.05;
    background-color: #2464da;
  }

  .navigation div p {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .navigation .active {
    background-color: #679af8;
  }

  .desktopLogout {
    display: flex;
    font-weight: 700;

    position: absolute;
    right: 1.5rem;
    width: 5rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .desktopNavProfile {
    display: block;
    background-color: #0e3783;
    width: 11rem;
    padding: 0.2rem;
    margin-top: 0.5rem;

    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 1.1rem;
  }
  /* Dashboard */
  .dashboardContainer {
    width: 85%;

    max-width: 1350px;

    margin: 0.5rem auto;
    /* border-radius: 10px;
    box-shadow: 1px 3px 10px 2px #0e3783; */
  }

  .map {
    width: 30vw;
    margin: 0;
    padding: 0;
    min-height: 20vh;
    margin-top: 1rem;
    max-width: 550px;
  }

  .dashboardGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 93%;
    margin-top: 1rem;
    border-top: 2px solid #0e3783;
  }
  .safetyCardInfo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #d3d3d3;

    margin-top: 1rem;
    padding: 0 1.3rem;
    border-radius: 10px;
  }
  .safetyCardInfo span {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }
  .safetyCard {
    box-shadow: 5px 3px 4px 2px #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30rem;
    padding: 0 1.3rem;
    padding-bottom: 0.5rem;
    height: fit-content;
    margin: 1rem auto;
    font-weight: 700;
    display: gird;
    align-items: center;
  }

  .greenSafetyCard {
    border-left: 7px solid green;
  }

  .yellowSafetyCard {
    border-left: 7px solid yellow;
  }
  .redSafetyCard {
    border-left: 7px solid red;
  }

  .safetyCard h4 {
    font-size: 1.2rem;
  }
  .safetyCard p {
    margin-bottom: 0.2rem;
  }

  .safetyDashboardContainer {
    width: 93%;
    margin: auto;
    box-shadow: 2px 0px 4px 3px #d3d3d3;
  }
  .safetyDashboardTitle {
    padding: 1rem;
    background-color: #d3d3d3;
  }

  .safetyDashboardCard {
    width: 310px;
    text-align: center;
    border: 1px solid #acacac;
    padding: 2.5rem;
  }

  .safetyDashboardCard div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -2.7rem;
  }

  .safetyDashboardCard p {
    margin-left: 0.4rem;
  }

  .safetyDashboardCard h1 {
    font-size: 3rem;
  }

  .safetyDashboardRow {
    padding: 2rem;
    display: flex;
  }

  /* Audits table */

  #auditsTable {
    border-collapse: collapse;
    width: 93%;
    margin: auto;
    font-size: 1.1rem;
  }

  .auditTargetsTable {
    padding-bottom: 2rem;
  }
  #auditsTable td,
  #auditsTable th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  #auditsTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .welcomeUserText {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.7s ease-out;
  }

  .profileIcon {
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    background-color: #306fe2;
    transition: all 0.2s ease-in;
  }

  .profileIcon:hover {
    scale: 1.1;
    background-color: white;
    color: #0e3783;
    border: 1px solid #0f2142;
  }

  /* .profileIcon:hover .welcomeUserText {
    border-bottom-color: white;
  } */
}
.signup-container {
  display: flex;
  align-items: center;
  margin:-5% 40%;
  justify-content: center;
  height: 100vh;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form .mb-3 {
  margin-bottom: 15px;
  width: 100%;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form .invalid-feedback {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.signup-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form p {
  margin-top: 10px;
  text-align: center;
}

.signup-form p a {
  color: #007bff;
  text-decoration: none;
}
